# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/
env/

# ======================
# PyCharm
# ======================

.idea/
*.iml

# ======================
# Jupyter
# ======================

.ipynb_checkpoints/

# ======================
# Model Files
# ======================

*.pkl
*.joblib

# ======================
# OS Files
# ======================

.DS_Store
Thumbs.db

# ======================
# Logs
# ======================

*.log